# Dataset - US

In [1]:
import pandas as pd

## Initialize

In [2]:
srcUS = "./time_series_covid19_confirmed_US.csv"
dest = "./time_series_covid19_confirmed_Texas_counties_transformed.csv"
stateCoordinates = {
#     "Wisconsin": (44.500000, -89.500000),
#     "West Virginia": (39.000000, -80.500000),
#     "Vermont": (44.000000, -72.699997),
    "Texas": (31.000000, -100.000000),
#     "South Dakota": (44.500000, -100.000000),
#     "Rhode Island": (41.700001, -71.500000),
#     "Oregon": (44.000000, -120.500000),
#     "New York": (43.000000, -75.000000),
#     "New Hampshire": (44.000000, -71.500000),
#     "Nebraska": (41.500000, -100.000000),
#     "Kansas": (38.500000, -98.000000),
#     "Mississippi": (33.000000, -90.000000),
#     "Illinois": (40.000000, -89.000000),
#     "Delaware": (39.000000, -75.500000),
#     "Connecticut": (41.599998, -72.699997),
#     "Arkansas": (34.799999, -92.199997),
#     "Indiana": (40.273502, -86.126976),
#     "Missouri": (38.573936, -92.603760),
#     "Florida": (27.994402, -81.760254),
#     "Nevada": (39.876019, -117.224121),
#     "Maine": (45.367584, -68.972168),
#     "Michigan": (44.182205, -84.506836),
#     "Georgia": (33.247875, -83.441162),
#     "Hawaii": (19.741755, -155.844437),
#     "Alaska": (66.160507, -153.369141),
#     "Tennessee": (35.860119, -86.660156),
#     "Virginia": (37.926868, -78.024902),
#     "New Jersey": (39.833851, -74.871826),
#     "Kentucky": (37.839333, -84.270020),
#     "North Dakota": (47.650589, -100.437012),
#     "Minnesota": (46.392410, -94.636230),
#     "Oklahoma": (36.084621, -96.921387),
#     "Montana": (46.965260, -109.533691),
#     "Washington": (47.751076, -120.740135),
#     "Utah": (39.419220, -111.950684),
#     "Colorado": (39.113014, -105.358887),
#     "Ohio": (40.367474, -82.996216),
#     "Alabama": (32.318230, -86.902298),
#     "Iowa": (42.032974, -93.581543),
#     "New Mexico": (34.307144, -106.018066),
#     "South Carolina": (33.836082, -81.163727),
#     "Pennsylvania": (41.203323, -77.194527),
#     "Arizona": (34.048927, -111.093735),
#     "Maryland": (39.045753, -76.641273),
#     "Massachusetts": (42.407211, -71.382439),
#     "California": (36.778259, -119.417931),
#     "Idaho": (44.068203, -114.742043),
#     "Wyoming": (43.075970, -107.290283),
#     "North Carolina": (35.782169, -80.793457),
#     "Louisiana": (30.391830, -92.329102),
#     "Harris, Texas": (29.7752, -95.3103)
}

# Read data
usDf = pd.read_csv(srcUS)
usDf.head(20)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/16/21,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,9893,9901,9904,9909,9910,9954,9967,10043,10047,10048
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,37069,37087,37098,37127,37167,37192,37224,37245,37258,37266
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,3554,3556,3560,3563,3565,3566,3575,3577,3578,3578
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,4216,4217,4217,4232,4236,4240,4246,4251,4252,4253
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,10094,10102,10104,10113,10132,10162,10179,10192,10197,10207
5,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,1517,1517,1517,1517,1516,1516,1516,1516,1517,1517
6,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,...,3247,3248,3248,3250,3253,3256,3258,3263,3264,3267
7,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,...,22142,22159,22168,22180,22190,22205,22221,22225,22232,22236
8,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,5559,5560,5562,5562,5563,5567,5607,5607,5610,5612
9,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,...,2999,3000,3005,3009,3016,3017,3023,3028,3028,3029
10,84001021,US,USA,840,1021.0,Chilton,Alabama,US,32.850441,-86.717326,...,6587,6592,6595,6602,6608,6627,6633,6641,6645,6648
11,84001023,US,USA,840,1023.0,Choctaw,Alabama,US,32.022273,-88.265644,...,869,870,870,870,878,881,882,885,885,885
12,84001025,US,USA,840,1025.0,Clarke,Alabama,US,31.680999,-87.835486,...,4727,4734,4734,4749,4740,4745,4754,4755,4757,4758
13,84001027,US,USA,840,1027.0,Clay,Alabama,US,33.269842,-85.858361,...,2403,2407,2408,2411,2412,2417,2430,2433,2433,2433
14,84001029,US,USA,840,1029.0,Cleburne,Alabama,US,33.676792,-85.520059,...,2469,2470,2470,2469,2471,2473,2474,2477,2477,2477
15,84001031,US,USA,840,1031.0,Coffee,Alabama,US,31.399328,-85.989010,...,9182,9182,9182,9185,9190,9195,9205,9210,9211,9211
16,84001033,US,USA,840,1033.0,Colbert,Alabama,US,34.698475,-87.801685,...,8789,8791,8794,8803,8803,8826,8840,8860,8871,8877
17,84001035,US,USA,840,1035.0,Conecuh,Alabama,US,31.434017,-86.993200,...,1856,1856,1857,1857,1857,1858,1859,1861,1862,1863
18,84001037,US,USA,840,1037.0,Coosa,Alabama,US,32.936901,-86.248477,...,1785,1788,1790,1792,1794,1797,1800,1802,1802,1803
19,84001039,US,USA,840,1039.0,Covington,Alabama,US,31.247785,-86.450509,...,6682,6685,6688,6692,6695,6699,6706,6712,6713,6715

## Data Manipulation

In [3]:
# # Separate Harris from Texas
# harrisIndex = usDf[(usDf["Admin2"] == "Harris") & (usDf["Province_State"] == "Texas")].index
# usDf.at[harrisIndex, "Province_State"] = usDf.iloc[harrisIndex, :]["Admin2"] + ", " + usDf.iloc[harrisIndex, :]["Province_State"]

# Drop unwanted columns
droppedCols = [0, 1, 2, 3, 10]
usDf = usDf.iloc[:, [col for col in range(len(usDf.columns)) if col not in droppedCols]]

# Drop rows with Admin2 of "Unassigned", "Out of XXX" or NaN
usDf = usDf[(usDf["Admin2"] != "Unassigned") & ~(usDf["Admin2"].str.startswith("Out of", na=True))]

# Rename columns (inplace)
usDf.rename(columns = {
    "Long_": "Long"
}, inplace = True)

# # Group separately and combine
# #   - 1. Group Lat and Long (aggregated by taking first)
# #   - 2. Group Confirmed Cases (aggregated by taking sum)
# firstHalf = usDf.iloc[:, :4].groupby(["Province_State", "Country_Region"]).first().reset_index()
# secondHalf = usDf.drop(usDf.columns[[2, 3]], axis = 1).groupby(["Province_State", "Country_Region"]).sum().reset_index()
# usDf = pd.concat([firstHalf, secondHalf.iloc[:, 2:]], axis = 1)

# Drop regions that are not in dictionary (stateCoordinates)
usDf = usDf[usDf["Province_State"].isin(stateCoordinates)]

# # Update "Lat" and "Long"
# for index, row in usDf.iterrows():
#     if row["Province_State"] in stateCoordinates:
#         usDf.at[index, "Lat"] = stateCoordinates[row["Province_State"]][0]
#         usDf.at[index, "Long"] = stateCoordinates[row["Province_State"]][1]
        
# Derive confirmed cases per day and attach back to the source dataframe
locationsDf = usDf.iloc[:, :6]
datesDf = usDf.iloc[:, 6:].diff(axis = 1)
diffDf = pd.concat([locationsDf, datesDf], axis = 1)

# Transform spreading "date & confirmed cases" data into "Date" adn "Confirmed Cases"
usDf = diffDf.melt(
    id_vars = ["FIPS", "Admin2", "Province_State", "Country_Region", "Lat", "Long"],
    var_name = "Date",
    value_name = "Confirmed Cases")
usDf.rename(columns={"Admin2": "County"}, inplace=True)

In [4]:
usDf

,FIPS,County,Province_State,Country_Region,Lat,Long,Date,Confirmed Cases
0,48001.0,Anderson,Texas,US,31.815347,-95.653548,1/22/20,NaN
1,48003.0,Andrews,Texas,US,32.304686,-102.637655,1/22/20,NaN
2,48005.0,Angelina,Texas,US,31.254573,-94.609015,1/22/20,NaN
3,48007.0,Aransas,Texas,US,28.105562,-96.999505,1/22/20,NaN
4,48009.0,Archer,Texas,US,33.615700,-98.687546,1/22/20,NaN
...,...,...,...,...,...,...,...,...
163317,48499.0,Wood,Texas,US,32.787224,-95.382364,10/25/21,0.0
163318,48501.0,Yoakum,Texas,US,33.173202,-102.827643,10/25/21,0.0
163319,48503.0,Young,Texas,US,33.176597,-98.687909,10/25/21,0.0
163320,48505.0,Zapata,Texas,US,27.001564,-99.169872,10/25/21,0.0
163321,48507.0,Zavala,Texas,US,28.866172,-99.760508,10/25/21,2.0

In [5]:
# Save transformed dataset
usDf.to_csv(dest, index = False)